{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["prettier", "import", "react-hooks"],
  "rules": {
    "global-require": "off",
    "import/extensions": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "warn",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-restricted-globals": "off",
    "no-unused-vars": ["error", { "args": "none" }],
    "react/display-name": "off",
    "react/jsx-indent": "off",
    "react/jsx-wrap-multilines": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
